In [1]:
import pandas as pd
import statistics

In [2]:
coordinates = pd.read_excel('координаты скв.xlsx')
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории)
0,103,482574,6770110,482539.0,6770073.0
1,103ПА,483938,6771248,483951.0,6771257.0
2,1084,478410,6770651,478410.0,6770626.0
3,1085,478791,6771402,478594.0,6770936.0
4,1086,478995,6772092,479215.0,6771562.0

In [3]:
#вычисление длины ствола гс скважины
coordinates['Length'] = coordinates.apply(
    lambda x:((x['Координата забоя Х (по траектории)']-x['Координата X'])**(2)+
              (x['Координата забоя Y (по траектории)']-x['Координата Y'])**(2)) **(0.5)
    , axis=1)
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,103,482574,6770110,482539.0,6770073.0,50.931326
1,103ПА,483938,6771248,483951.0,6771257.0,15.811388
2,1084,478410,6770651,478410.0,6770626.0,25.000000
3,1085,478791,6771402,478594.0,6770936.0,505.929837
4,1086,478995,6772092,479215.0,6771562.0,573.846669

In [4]:
grp=pd.read_excel('фраклист.xlsx',header=[1], index_col=[1])
grp.reset_index(drop=True)
grp.reset_index(inplace=True)
grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Pпл','Верх','Низ'],axis=1)
grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)

grp

C:\Users\USER\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   Номер скважины       Дата  Пласт  Наклон
0             931 2006-07-12  Ю1(1)    2.12
1             931 2004-10-05  Ю1(1)     NaN
2             913 2015-03-22     Б7   26.00
3             911 2015-05-26     Б7   26.00
4             903 2015-05-11   Б6-7    1.00
..            ...        ...    ...     ...
86            277 2003-12-29  Ю1(1)     NaN
87            252 2004-08-30  Ю1(1)     NaN
88            149 2005-03-31  Ю1(1)     NaN
89           1338 2020-09-08  Ю1(1)   13.00
90           1330 2020-01-11  Ю1(1)   40.00

[91 rows x 4 columns]

In [5]:
#координаты скважин для нашего объекта 
my_wells=grp['Номер скважины'].tolist()
my_wells_no_repeat = [] 
for x in my_wells:
    if x not in my_wells_no_repeat:
        my_wells_no_repeat.append(x)
my_wells_no_repeat

['931',
 '913',
 '911',
 '903',
 '902',
 '900',
 '899',
 '890',
 '889',
 '878',
 '864',
 '861',
 '842',
 '830',
 '819',
 '810',
 '659',
 '65',
 '632',
 '631',
 '63',
 '614',
 '61',
 '60',
 '564',
 '539',
 '535',
 '525',
 '524Б',
 '508',
 '503',
 '497',
 '491',
 '487',
 '486',
 '480',
 '462',
 '439',
 '431',
 '418',
 '409',
 '383',
 '340',
 '300',
 '277',
 '252',
 '149',
 '1338',
 '1330']

In [6]:

coordinates=coordinates[~coordinates['№ скважины'].isin(my_wells_no_repeat)].reset_index(drop=True)
coordinates

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,103,482574,6770110,482539.0,6770073.0,50.931326
1,103ПА,483938,6771248,483951.0,6771257.0,15.811388
2,1084,478410,6770651,478410.0,6770626.0,25.000000
3,1085,478791,6771402,478594.0,6770936.0,505.929837
4,1086,478995,6772092,479215.0,6771562.0,573.846669
...,...,...,...,...,...,...
442,93П,475479,6769176,475481.0,6769176.0,2.000000
443,9В,483264,6780479,483356.0,6780230.0,265.452444
444,9Р,481463,6780437,481441.0,6780362.0,78.160092
445,SEV-OSTR16П,491083,6761010,491059.0,6760928.0,85.440037
446,SEV-OSTROV103Р,482692,6770741,482691.0,6770746.0,5.099020

In [7]:

coordinates=coordinates.drop(['Координата X','Координата Y','Координата забоя Х (по траектории)','Координата забоя Y (по траектории)'],axis=1)
new=coordinates['№ скважины'].tolist()
coordinates['Номер скважины']=new
coordinates=coordinates.drop(['№ скважины'],axis=1)
coordinates

         Length  Номер скважины
0     50.931326             103
1     15.811388           103ПА
2     25.000000            1084
3    505.929837            1085
4    573.846669            1086
..          ...             ...
442    2.000000             93П
443  265.452444              9В
444   78.160092              9Р
445   85.440037     SEV-OSTR16П
446    5.099020  SEV-OSTROV103Р

[447 rows x 2 columns]

In [8]:
#понимаем какие скважины горизонтальные по углу наклона

final = grp.merge(coordinates, on='Номер скважины')
final['Длиина ГС, м'] = final.apply(
    lambda x: 
    x['Length'] if x['Наклон']>=70
    else 0, axis=1)
final

ValueError: Wrong number of items passed 5, placement implies 1

In [ ]:
#понимаем какие скважины горизонтальные по углу наклона

final = grp.merge(coordinates, on='Номер скважины')
final['Длиина ГС, м'] = final.apply(
    lambda x: 
    x['Length'] if x['Наклон']>=70
    else 0, axis=1)
final=final.drop(['Наклон','Length'],axis=1)
final_number = final.groupby('Номер скважины').agg(
    {'Дата': lambda x: 
     x.tolist()}
)

final

In [ ]:
#обработка и чтение гтм
grp_1=pd.read_excel('гтм.xlsx',header=[1], index_col=[1])
grp_1.reset_index(drop=True)
grp_1.reset_index(inplace=True)
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
grp_1=grp_1.drop(['С начала мероприятия','С начала года','За текущий месяц','P нас','В-ть жидк.','Коб'],axis=1)
grp_1=grp_1.drop(['Пл-ть нефти','Факт','План','Комментарий','Dэк','Пласт','Страница'],axis=1)
grp_1=grp_1.drop(['Unnamed: 11','Hэфф','Pпл.2','H дин.1','Pзаб.2','Состояние.1','Кпр'],axis=1)
grp_1=grp_1.drop(['Скин-фактор.1','Интервалы перф..1','Насос.1','Напор.1','Производительность.1'],axis=1)
grp_1=grp_1.drop(['%.2','Qж.2','Qн.2','Hспуск.1','Кач.1','Част.1','Lхода.1','Метод.1','Скин-фактор','Pзаб.1','Метод','Re'],axis=1)
grp_1=grp_1.drop(['Pпл.1','%.1','Qж.1','Qн.1','Окончание','Начало','Производительность','Насос'],axis=1)
grp_1=grp_1.drop(['Интервалы перф.','Hвд','Состояние','Pзаб','Pпл','H дин','Lхода','Напор'],axis=1)
grp_1=grp_1.drop(['Месторождение','Unnamed: 0','Куст','Част','Кач','Hспуск','Qн','Qж','%'],axis=1)
grp_1

In [ ]:
#даты введения ГРП и ВНС на скважинах очень важно!!!!!!!
grp_3=grp_1
grp_3['Дата ВНР после ГС \\ ГРП \\ЗБГС'] = grp_3.apply(
    lambda x: 
    x['Начало.1'] if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else x['Начало.1'] if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3['Тип ГТМ'] = grp_3.apply(
    lambda x: 
    'ГРП' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'ВНС' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3 = grp_3.drop(grp_1[grp_1['Дата ВНР после ГС \\ ГРП \\ЗБГС'] == 'нет'].index)
grp_3 = grp_3.groupby(by=['Скважина','Дата ВНР после ГС \ ГРП \ЗБГС']).agg(
    {'Тип ГТМ': lambda x: 
     x.tolist()[0]}
)
grp_3.reset_index(inplace=True)
vvv=grp_3['Скважина'].tolist()

grp_3['Номер скважины']=vvv
grp_3=grp_3.drop(['Скважина'],axis=1)
grp_3

In [ ]:
#число стадий ГРП по гтм
grp_2=grp_1
grp_2['ГРП'] = grp_2.apply(
    lambda x: 
    'грп' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'вдс' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_2 = grp_2.drop(grp_2[grp_2['ГРП'] == 'нет'].index)
grp_2

In [ ]:


grp_2 = grp_2.groupby('Скважина').agg(
    {'ГРП': lambda x: 
     x.tolist()}
)
grp_2.reset_index(inplace=True)
grp_2

In [ ]:
for i in grp_2['ГРП']:
    if 'вдс' in i:
        i.remove('вдс')
grp_2

In [ ]:

new_1=grp_2['Скважина'].tolist()
grp_2['Номер скважины']=new_1
grp_2=grp_2.drop(['Скважина'],axis=1)
final = final.merge(grp_2, on='Номер скважины')
final

In [ ]:


final['Число стадий ГРП'] = final.apply(
    lambda x: 
    len(x['ГРП']) if len(x['ГРП'])>0
    else 0, axis=1)
final=final.drop(['ГРП'],axis=1)
#число стадий грп по фраклисту
final=final.drop(['Дата'],axis=1)
final_re = final.groupby(by=['Номер скважины']).agg(
    {'Число стадий ГРП': lambda x: 
     statistics.mean(x)}
)
final_re.reset_index(inplace=True)

 
#final_re['Число стадий ГРП'] = final_re.apply(
 #   lambda x: 
  #  1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
   # else x['Число стадий ГРП'], axis=1)
final_re

In [ ]:
final_go = final.groupby(by=['Номер скважины']).agg(
    {'Длиина ГС, м': lambda x: 
     statistics.mean(x)}
)
final_go.reset_index(inplace=True)
final_go

In [ ]:
final_re = final_re.merge(final_go, on='Номер скважины')
final_re

In [ ]:
final_re['Число стадий ГРП'] = final_re.apply(
    lambda x: 
    1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
    else x['Число стадий ГРП'], axis=1)
final_re

In [ ]:
final_re1=final_re
final_re1 = final_re1.drop(final_re1[final_re1['Длиина ГС, м'] == 0].index).reset_index(drop=True)
spisok=final_re1['Номер скважины'].tolist()
final_re1

In [ ]:
#берем число строк из фраклиста для скважины
final = final.groupby('Номер скважины').agg(
    {'Число стадий ГРП': lambda x: 
     x.tolist()}
)

final['Количество'] = final.apply(
    lambda x: 
    len(x['Число стадий ГРП']) 
    ,axis=1)
final.reset_index(inplace=True)
final=final[final['Номер скважины'].isin(spisok)].reset_index(drop=True)
final=final.drop(['Число стадий ГРП'],axis=1)
final

In [ ]:
final_re2 = final_re.merge(final, on='Номер скважины')
final_re2=final_re2.drop(['Число стадий ГРП'],axis=1)
cv=final_re2['Количество'].tolist()
final_re2['Число стадий ГРП']=cv
final_re2=final_re2.drop(['Количество'],axis=1)
final_re2

In [ ]:
final_re=final_re[~final_re['Номер скважины'].isin(spisok)].reset_index(drop=True)
final_re

In [ ]:
new_file=pd.concat([final_re,final_re2])
new_file

In [ ]:
grp = grp.groupby('Номер скважины').agg(
    {'Пласт': lambda x: 
     x.tolist()[0]}
)
grp.reset_index(inplace=True)
grp

In [ ]:
new_file = new_file.merge(grp, on='Номер скважины')
new_file

In [ ]:
new_file['Полудлина трещины, м'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file['Ширина трещины, мм'] = new_file.apply(
    lambda x: 
    4, axis=1)
new_file['Проницаемость проппанта, Д'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file

In [ ]:
#объединение грп и нью файла по скважинам
sotired = grp_3.merge(new_file, on='Номер скважины')
sotired

In [ ]:
#добавляем последнй столбец
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    'ННС' if x['Длиина ГС, м']==0
    else 'ГС', axis=1)
sotired

In [ ]:
#редактируем его в зависимости от наличия грп
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    str(x['ГС/ННС'])+'+ГРП' if str(x['Тип ГТМ'])=='ГРП'
    else x['ГС/ННС'], axis=1)
sotired

In [ ]:
#перемещаем столбцы в нужном порядке
r = sotired.pop('Дата ВНР после ГС \ ГРП \ЗБГС')
sotired1 = pd.concat([sotired, r], 1)

In [ ]:
#перемещаем столбцы в нужном порядке
q = sotired1.pop('ГС/ННС')
sotired2 = pd.concat([sotired1, q], 1)

In [ ]:
#перемещаем столбцы в нужном порядке
z = sotired2.pop('Тип ГТМ')
sotired3 = pd.concat([sotired2, z], 1)

In [ ]:
#перемещаем столбцы в нужном порядке
d = sotired3.pop('Пласт')
sotired4 = pd.concat([sotired3, d], 1)
i=sotired4['Номер скважины'].tolist()
sotired4['Скважина №']=i
sotired4=sotired4.drop(['Номер скважины'],axis=1)

In [ ]:
sotired_final = sotired4.reindex(columns=['Скважина №', 'Длиина ГС, м', 'Число стадий ГРП','Полудлина трещины, м','Ширина трещины, мм','Проницаемость проппанта, Д','Дата ВНР после ГС \ ГРП \ЗБГС','ГС/ННС','Тип ГТМ','Пласт'])
sotired_final

In [ ]:
sotired_final['Число стадий ГРП'] = sotired.apply(
    lambda x: 
    0 if str(x['Тип ГТМ'])=='ВНС'
    else x['Число стадий ГРП'], axis=1)
sotired_final

In [ ]:
n=1
z=sotired_final['Пласт'].value_counts()[:n].index.tolist()
plast=str(z[0])
plast

In [ ]:
sotired_final.to_excel('GRP_redacted.xlsx')