In [1]:
import pandas as pd
import statistics

In [2]:
coordinates = pd.read_excel('координаты скв.xlsx')
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории)
0,103,482574,6770110,482539.0,6770073.0
1,103ПА,483938,6771248,483951.0,6771257.0
2,1084,478410,6770651,478410.0,6770626.0
3,1085,478791,6771402,478594.0,6770936.0
4,1086,478995,6772092,479215.0,6771562.0

In [3]:
#вычисление длины ствола гс скважины
coordinates['Length'] = coordinates.apply(
    lambda x:((x['Координата забоя Х (по траектории)']-x['Координата X'])**(2)+
              (x['Координата забоя Y (по траектории)']-x['Координата Y'])**(2)) **(0.5)
    , axis=1)
coordinates

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,103,482574,6770110,482539.0,6770073.0,50.931326
1,103ПА,483938,6771248,483951.0,6771257.0,15.811388
2,1084,478410,6770651,478410.0,6770626.0,25.000000
3,1085,478791,6771402,478594.0,6770936.0,505.929837
4,1086,478995,6772092,479215.0,6771562.0,573.846669
...,...,...,...,...,...,...
491,93П,475479,6769176,475481.0,6769176.0,2.000000
492,9В,483264,6780479,483356.0,6780230.0,265.452444
493,9Р,481463,6780437,481441.0,6780362.0,78.160092
494,SEV-OSTR16П,491083,6761010,491059.0,6760928.0,85.440037
495,SEV-OSTROV103Р,482692,6770741,482691.0,6770746.0,5.099020

In [4]:
grp=pd.read_excel('ГРП new.xlsx',header=[1], index_col=[1])
grp.reset_index(drop=True)
grp.reset_index(inplace=True)
grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Pпл','Верх','Низ'],axis=1)
grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)

grp

C:\Users\USER\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   Номер скважины       Дата  Пласт  Наклон
0             931 2006-07-12  Ю1(1)    2.12
1             931 2004-10-05  Ю1(1)     NaN
2             913 2015-03-22     Б7   26.00
3             911 2015-05-26     Б7   26.00
4             903 2015-05-11   Б6-7    1.00
..            ...        ...    ...     ...
86            277 2003-12-29  Ю1(1)     NaN
87            252 2004-08-30  Ю1(1)     NaN
88            149 2005-03-31  Ю1(1)     NaN
89           1338 2020-09-08  Ю1(1)   13.00
90           1330 2020-01-11  Ю1(1)   40.00

[91 rows x 4 columns]

In [5]:
#координаты скважин для нашего объекта 
my_wells=grp['Номер скважины'].tolist()
my_wells_no_repeat = [] 
for x in my_wells:
    if x not in my_wells_no_repeat:
        my_wells_no_repeat.append(x)
coordinates=coordinates[coordinates['№ скважины'].isin(my_wells_no_repeat)].reset_index(drop=True)
coordinates=coordinates.drop(['Координата X','Координата Y','Координата забоя Х (по траектории)','Координата забоя Y (по траектории)'],axis=1)
new=coordinates['№ скважины'].tolist()
coordinates['Номер скважины']=new
coordinates=coordinates.drop(['№ скважины'],axis=1)
coordinates

        Length Номер скважины
0    75.471849           1330
1    10.000000           1338
2     4.123106            149
3    20.000000            252
4     3.605551            277
5    37.161808            300
6     5.385165            340
7   249.369204            383
8   358.788238            409
9     8.062258            418
10    3.605551            431
11    1.414214            439
12   21.400935            462
13  276.219116            480
14  305.942805            486
15    7.280110            487
16   45.276926            491
17    8.944272            497
18    7.211103            503
19   15.297059            508
20    3.605551           524Б
21    6.000000            525
22    4.472136            535
23    2.000000            539
24    3.605551            564
25   35.227830             60
26  167.263266             61
27   22.022716            614
28  530.811643             63
29    2.828427            631
30  295.025423            632
31  706.543700             65
32  329.620994            659
33   21.470911            810
34    1.414214            819
35    2.828427            830
36   20.615528            842
37    1.000000            861
38    1.414214            864
39    3.162278            878
40   20.000000            889
41    0.000000            890
42   10.816654            899
43   13.000000            900
44  595.994966            902
45    1.000000            903
46   32.202484            911
47    7.810250            913
48    2.000000            931

In [6]:
#понимаем какие скважины горизонтальные по углу наклона

final = grp.merge(coordinates, on='Номер скважины')
final['Длиина ГС, м'] = final.apply(
    lambda x: 
    x['Length'] if x['Наклон']>=70
    else 0, axis=1)
final=final.drop(['Наклон','Length'],axis=1)
final_number = final.groupby('Номер скважины').agg(
    {'Дата': lambda x: 
     x.tolist()}
)

final

   Номер скважины       Дата  Пласт  Длиина ГС, м
0             931 2006-07-12  Ю1(1)           0.0
1             931 2004-10-05  Ю1(1)           0.0
2             913 2015-03-22     Б7           0.0
3             911 2015-05-26     Б7           0.0
4             903 2015-05-11   Б6-7           0.0
..            ...        ...    ...           ...
86            277 2003-12-29  Ю1(1)           0.0
87            252 2004-08-30  Ю1(1)           0.0
88            149 2005-03-31  Ю1(1)           0.0
89           1338 2020-09-08  Ю1(1)           0.0
90           1330 2020-01-11  Ю1(1)           0.0

[91 rows x 4 columns]

In [7]:
#обработка и чтение гтм
grp_1=pd.read_excel('ГРП new2.xlsx',header=[1], index_col=[1])
grp_1.reset_index(drop=True)
grp_1.reset_index(inplace=True)
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
grp_1=grp_1.drop(['С начала мероприятия','С начала года','За текущий месяц','P нас','В-ть жидк.','Коб'],axis=1)
grp_1=grp_1.drop(['Пл-ть нефти','Факт','План','Комментарий','Dэк','Пласт','Страница'],axis=1)
grp_1=grp_1.drop(['Unnamed: 11','Hэфф','Pпл.2','H дин.1','Pзаб.2','Состояние.1','Кпр'],axis=1)
grp_1=grp_1.drop(['Скин-фактор.1','Интервалы перф..1','Насос.1','Напор.1','Производительность.1'],axis=1)
grp_1=grp_1.drop(['%.2','Qж.2','Qн.2','Hспуск.1','Кач.1','Част.1','Lхода.1','Метод.1','Скин-фактор','Pзаб.1','Метод','Re'],axis=1)
grp_1=grp_1.drop(['Pпл.1','%.1','Qж.1','Qн.1','Окончание','Начало','Производительность','Насос'],axis=1)
grp_1=grp_1.drop(['Интервалы перф.','Hвд','Состояние','Pзаб','Pпл','H дин','Lхода','Напор'],axis=1)
grp_1=grp_1.drop(['Месторождение','Unnamed: 0','Куст','Част','Кач','Hспуск','Qн','Qж','%'],axis=1)
grp_1

C:\Users\USER\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Скважина,Тип,Объект разработки до ГТМ,gtmTypeFullName,Краткое описание мероприятий,ВНР,Начало.1,Окончание.1,ВНР.1
0,1330,ВНС,Ю1(1),Ввод новых скважин,Ввод добывающих сква,NaN,2019-09-14,2019-09-24,2019-09-24
1,1330,Переход или приобщение,Ю1(1),Переход на другой объект или приобщение,КР4 Переход на други,NaN,2019-10-11,2019-10-22,2019-10-22
2,1330,ГРП,Ю1(1),Гидравлический разрыв пласта,КР7-2 Проведение ГРП,NaN,2020-01-01,2020-01-20,2020-01-20
3,1330,ОПЗ,Ю1(1),Обработка призабойной зоны скважины,КР7-34 Интенсификаци,NaN,2020-02-03,2020-02-19,2020-02-19
4,1330,Переход или приобщение,Ю1(1),Переход на другой объект или приобщение,КР4 Переход на други,NaN,2020-02-03,2020-02-19,2020-02-19
...,...,...,...,...,...,...,...,...,...
928,931,См_ПО,NaN,Смена насоса,ТР4-1 Смена ШГН,NaN,2013-04-08,2013-04-11,2013-04-11
929,931,Запуск без ремонта,Ю1(1),Запуск без ремонта,Запуск в работу без,NaN,2019-12-30,2019-12-31,2019-12-31
930,931,Запуск без ремонта,Ю1(1),Запуск без ремонта,Запуск в работу без,NaN,2020-02-20,2020-02-20,2020-02-20
931,931,Запуск без ремонта,Ю1(1),Запуск без ремонта,Запуск в работу без,NaN,2020-03-13,2020-03-13,2020-03-13
932,931,См_ПО,Ю1(1),Смена насоса,ТР5-8 Подъем УЭЦН сп,NaN,2020-08-23,2020-08-25,2020-08-25

In [8]:
#число стадий ГРП по гтм
grp_2=grp_1
grp_2['ГРП'] = grp_2.apply(
    lambda x: 
    'грп' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_2 = grp_2.drop(grp_2[grp_2['ГРП'] != 'грп'].index)
grp_2 = grp_2.groupby('Скважина').agg(
    {'ГРП': lambda x: 
     x.tolist()}
)
grp_2.reset_index(inplace=True)
new_1=grp_2['Скважина'].tolist()
grp_2['Номер скважины']=new_1
grp_2=grp_2.drop(['Скважина'],axis=1)
final = final.merge(grp_2, on='Номер скважины')
final['Число стадий ГРП'] = final.apply(
    lambda x: 
    len(x['ГРП']) if len(x['ГРП'])>0
    else 0, axis=1)
final=final.drop(['ГРП'],axis=1)

final.tail(20)

   Номер скважины       Дата  Пласт  Длиина ГС, м  Число стадий ГРП
69            462 2004-01-17  Ю1(1)      0.000000                 1
70            439 2004-01-06  Ю1(1)      0.000000                 1
71            439 2003-12-30  Ю1(1)      0.000000                 1
72            431 2006-04-12  Ю1(1)      0.000000                 1
73            418 2004-01-03  Ю1(1)      0.000000                 1
74            409 2015-12-28  Ю1(1)    358.788238                 2
75            409 2015-12-27  Ю1(1)    358.788238                 2
76            409 2015-12-27  Ю1(1)    358.788238                 2
77            409 2006-11-01  Ю1(1)    358.788238                 2
78            383 2015-11-28  Ю1(1)    249.369204                 4
79            383 2015-11-27  Ю1(1)    249.369204                 4
80            383 2015-11-26  Ю1(1)    249.369204                 4
81            340 2006-07-18  Ю1(1)      0.000000                 3
82            300 2004-11-10  Ю1(1)      0.000000                 2
83            277 2004-01-29  Ю1(1)      0.000000                 1
84            277 2003-12-29  Ю1(1)      0.000000                 1
85            252 2004-08-30  Ю1(1)      0.000000                 2
86            149 2005-03-31  Ю1(1)      0.000000                 1
87           1338 2020-09-08  Ю1(1)      0.000000                 1
88           1330 2020-01-11  Ю1(1)      0.000000                 1

In [9]:
#даты первого введения грп на скважинах
grp_3=grp_1
grp_3['Дата ВНР после ГС \\ ГРП \\ЗБГС'] = grp_3.apply(
    lambda x: 
    x['Начало.1'] if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3 = grp_3.drop(grp_1[grp_1['Дата ВНР после ГС \\ ГРП \\ЗБГС'] == 'нет'].index)
grp_3 = grp_3.groupby('Скважина').agg(
    {'Дата ВНР после ГС \ ГРП \ЗБГС': lambda x: 
     x.tolist()[0]}
)
grp_3

         Дата ВНР после ГС \ ГРП \ЗБГС
Скважина
1330                        2020-01-01
1338                        2020-09-08
149                         2005-03-31
252                         1994-08-01
277                         2004-01-29
300                         1994-08-01
340                         1997-10-01
383                         1996-09-04
409                         2006-10-10
418                         2004-01-03
431                         2006-04-12
439                         2004-01-06
462                         2004-01-17
480                         2002-07-26
486                         2003-01-20
487                         2005-05-21
491                         2001-08-01
497                         2019-11-26
503                         2003-02-23
508                         2015-09-22
525                         2020-03-19
535                         2004-08-26
539                         2015-06-24
564                         2015-04-05
60                          2017-09-27
61                          2017-12-04
614                         1994-05-01
63                          2017-10-13
631                         2002-08-27
632                         2002-02-19
65                          2017-10-20
659                         2004-08-23
810                         1994-02-01
819                         2003-01-02
830                         2006-06-09
842                         2015-06-13
861                         2003-01-14
864                         1997-09-28
878                         2002-05-30
889                         2015-05-04
890                         2015-07-16
899                         2001-10-29
900                         2004-02-01
903                         2015-05-13
911                         2015-05-19
913                         2015-04-07
931                         2001-06-07

In [10]:
#редактируем число стадий ГРП
final=final.drop(['Дата'],axis=1)
final_re = final.groupby(by=['Номер скважины']).agg(
    {'Число стадий ГРП': lambda x: 
     statistics.mean(x)}
)
final_re.reset_index(inplace=True)

 
#final_re['Число стадий ГРП'] = final_re.apply(
 #   lambda x: 
  #  1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
   # else x['Число стадий ГРП'], axis=1)
final_re

   Номер скважины  Число стадий ГРП
0            1330                 1
1            1338                 1
2             149                 1
3             252                 2
4             277                 1
5             300                 2
6             340                 3
7             383                 4
8             409                 2
9             418                 1
10            431                 1
11            439                 1
12            462                 1
13            480                 3
14            486                 2
15            487                 1
16            491                 2
17            497                 1
18            503                 1
19            508                 5
20            525                 1
21            535                 1
22            539                 1
23            564                 1
24             60                 1
25             61                 1
26            614                 4
27             63                 1
28            631                 2
29            632                 8
30             65                 1
31            659                 3
32            810                 3
33            819                 1
34            830                 1
35            842                 1
36            861                 1
37            864                 2
38            878                 3
39            889                 1
40            890                 1
41            899                 1
42            900                 1
43            903                 2
44            911                 1
45            913                 1
46            931                 3

In [11]:
final_go = final.groupby(by=['Номер скважины']).agg(
    {'Длиина ГС, м': lambda x: 
     statistics.mean(x)}
)
final_go.reset_index(inplace=True)
final_go

   Номер скважины  Длиина ГС, м
0            1330      0.000000
1            1338      0.000000
2             149      0.000000
3             252      0.000000
4             277      0.000000
5             300      0.000000
6             340      0.000000
7             383    249.369204
8             409    358.788238
9             418      0.000000
10            431      0.000000
11            439      0.000000
12            462      0.000000
13            480    220.975293
14            486    244.754244
15            487      0.000000
16            491      0.000000
17            497      0.000000
18            503      0.000000
19            508      0.000000
20            525      0.000000
21            535      0.000000
22            539      0.000000
23            564      0.000000
24             60      0.000000
25             61      0.000000
26            614      0.000000
27             63    530.811643
28            631      0.000000
29            632    252.878934
30             65    706.543700
31            659    263.696796
32            810      0.000000
33            819      0.000000
34            830      0.000000
35            842      0.000000
36            861      0.000000
37            864      0.000000
38            878      0.000000
39            889      0.000000
40            890      0.000000
41            899      0.000000
42            900      0.000000
43            903      0.000000
44            911      0.000000
45            913      0.000000
46            931      0.000000

In [12]:
final_re = final_re.merge(final_go, on='Номер скважины')
final_re

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1330                 1      0.000000
1            1338                 1      0.000000
2             149                 1      0.000000
3             252                 2      0.000000
4             277                 1      0.000000
5             300                 2      0.000000
6             340                 3      0.000000
7             383                 4    249.369204
8             409                 2    358.788238
9             418                 1      0.000000
10            431                 1      0.000000
11            439                 1      0.000000
12            462                 1      0.000000
13            480                 3    220.975293
14            486                 2    244.754244
15            487                 1      0.000000
16            491                 2      0.000000
17            497                 1      0.000000
18            503                 1      0.000000
19            508                 5      0.000000
20            525                 1      0.000000
21            535                 1      0.000000
22            539                 1      0.000000
23            564                 1      0.000000
24             60                 1      0.000000
25             61                 1      0.000000
26            614                 4      0.000000
27             63                 1    530.811643
28            631                 2      0.000000
29            632                 8    252.878934
30             65                 1    706.543700
31            659                 3    263.696796
32            810                 3      0.000000
33            819                 1      0.000000
34            830                 1      0.000000
35            842                 1      0.000000
36            861                 1      0.000000
37            864                 2      0.000000
38            878                 3      0.000000
39            889                 1      0.000000
40            890                 1      0.000000
41            899                 1      0.000000
42            900                 1      0.000000
43            903                 2      0.000000
44            911                 1      0.000000
45            913                 1      0.000000
46            931                 3      0.000000

In [13]:
final_re['Число стадий ГРП'] = final_re.apply(
    lambda x: 
    1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
    else x['Число стадий ГРП'], axis=1)
final_re

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1330                 1      0.000000
1            1338                 1      0.000000
2             149                 1      0.000000
3             252                 1      0.000000
4             277                 1      0.000000
5             300                 1      0.000000
6             340                 1      0.000000
7             383                 4    249.369204
8             409                 2    358.788238
9             418                 1      0.000000
10            431                 1      0.000000
11            439                 1      0.000000
12            462                 1      0.000000
13            480                 3    220.975293
14            486                 2    244.754244
15            487                 1      0.000000
16            491                 1      0.000000
17            497                 1      0.000000
18            503                 1      0.000000
19            508                 1      0.000000
20            525                 1      0.000000
21            535                 1      0.000000
22            539                 1      0.000000
23            564                 1      0.000000
24             60                 1      0.000000
25             61                 1      0.000000
26            614                 1      0.000000
27             63                 1    530.811643
28            631                 1      0.000000
29            632                 8    252.878934
30             65                 1    706.543700
31            659                 3    263.696796
32            810                 1      0.000000
33            819                 1      0.000000
34            830                 1      0.000000
35            842                 1      0.000000
36            861                 1      0.000000
37            864                 1      0.000000
38            878                 1      0.000000
39            889                 1      0.000000
40            890                 1      0.000000
41            899                 1      0.000000
42            900                 1      0.000000
43            903                 1      0.000000
44            911                 1      0.000000
45            913                 1      0.000000
46            931                 1      0.000000

In [14]:
final_re1=final_re
final_re1 = final_re1.drop(final_re1[final_re1['Длиина ГС, м'] == 0].index).reset_index(drop=True)
spisok=final_re1['Номер скважины'].tolist()
final_re1

  Номер скважины  Число стадий ГРП  Длиина ГС, м
0            383                 4    249.369204
1            409                 2    358.788238
2            480                 3    220.975293
3            486                 2    244.754244
4             63                 1    530.811643
5            632                 8    252.878934
6             65                 1    706.543700
7            659                 3    263.696796

In [15]:
#берем число строк из фраклиста для скважины
final = final.groupby('Номер скважины').agg(
    {'Число стадий ГРП': lambda x: 
     x.tolist()}
)

final['Количество'] = final.apply(
    lambda x: 
    len(x['Число стадий ГРП']) 
    ,axis=1)
final.reset_index(inplace=True)
final=final[final['Номер скважины'].isin(spisok)].reset_index(drop=True)
final=final.drop(['Число стадий ГРП'],axis=1)
final

  Номер скважины  Количество
0            383           3
1            409           4
2            480           5
3            486           5
4             63           9
5            632           7
6             65           8
7            659           5

In [16]:

final_re2 = final_re.merge(final, on='Номер скважины')
final_re2=final_re2.drop(['Число стадий ГРП'],axis=1)
cv=final_re2['Количество'].tolist()
final_re2['Число стадий ГРП']=cv
final_re2=final_re2.drop(['Количество'],axis=1)
final_re2

  Номер скважины  Длиина ГС, м  Число стадий ГРП
0            383    249.369204                 3
1            409    358.788238                 4
2            480    220.975293                 5
3            486    244.754244                 5
4             63    530.811643                 9
5            632    252.878934                 7
6             65    706.543700                 8
7            659    263.696796                 5

In [17]:
final_re=final_re[~final_re['Номер скважины'].isin(spisok)].reset_index(drop=True)
final_re

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1330                 1           0.0
1            1338                 1           0.0
2             149                 1           0.0
3             252                 1           0.0
4             277                 1           0.0
5             300                 1           0.0
6             340                 1           0.0
7             418                 1           0.0
8             431                 1           0.0
9             439                 1           0.0
10            462                 1           0.0
11            487                 1           0.0
12            491                 1           0.0
13            497                 1           0.0
14            503                 1           0.0
15            508                 1           0.0
16            525                 1           0.0
17            535                 1           0.0
18            539                 1           0.0
19            564                 1           0.0
20             60                 1           0.0
21             61                 1           0.0
22            614                 1           0.0
23            631                 1           0.0
24            810                 1           0.0
25            819                 1           0.0
26            830                 1           0.0
27            842                 1           0.0
28            861                 1           0.0
29            864                 1           0.0
30            878                 1           0.0
31            889                 1           0.0
32            890                 1           0.0
33            899                 1           0.0
34            900                 1           0.0
35            903                 1           0.0
36            911                 1           0.0
37            913                 1           0.0
38            931                 1           0.0

In [18]:
new_file=pd.concat([final_re,final_re2])
new_file

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1330                 1      0.000000
1            1338                 1      0.000000
2             149                 1      0.000000
3             252                 1      0.000000
4             277                 1      0.000000
5             300                 1      0.000000
6             340                 1      0.000000
7             418                 1      0.000000
8             431                 1      0.000000
9             439                 1      0.000000
10            462                 1      0.000000
11            487                 1      0.000000
12            491                 1      0.000000
13            497                 1      0.000000
14            503                 1      0.000000
15            508                 1      0.000000
16            525                 1      0.000000
17            535                 1      0.000000
18            539                 1      0.000000
19            564                 1      0.000000
20             60                 1      0.000000
21             61                 1      0.000000
22            614                 1      0.000000
23            631                 1      0.000000
24            810                 1      0.000000
25            819                 1      0.000000
26            830                 1      0.000000
27            842                 1      0.000000
28            861                 1      0.000000
29            864                 1      0.000000
30            878                 1      0.000000
31            889                 1      0.000000
32            890                 1      0.000000
33            899                 1      0.000000
34            900                 1      0.000000
35            903                 1      0.000000
36            911                 1      0.000000
37            913                 1      0.000000
38            931                 1      0.000000
0             383                 3    249.369204
1             409                 4    358.788238
2             480                 5    220.975293
3             486                 5    244.754244
4              63                 9    530.811643
5             632                 7    252.878934
6              65                 8    706.543700
7             659                 5    263.696796

In [19]:
grp = grp.groupby('Номер скважины').agg(
    {'Пласт': lambda x: 
     x.tolist()[0]}
)
grp.reset_index(inplace=True)
grp

   Номер скважины  Пласт
0            1330  Ю1(1)
1            1338  Ю1(1)
2             149  Ю1(1)
3             252  Ю1(1)
4             277  Ю1(1)
5             300  Ю1(1)
6             340  Ю1(1)
7             383  Ю1(1)
8             409  Ю1(1)
9             418  Ю1(1)
10            431  Ю1(1)
11            439  Ю1(1)
12            462  Ю1(1)
13            480  Ю1(1)
14            486  Ю1(1)
15            487  Ю1(1)
16            491  Ю1(1)
17            497  Ю1(1)
18            503  Ю1(1)
19            508     Б7
20           524Б  Ю1(1)
21            525   Б6-7
22            535  Ю1(1)
23            539     Б7
24            564     Б7
25             60  Ю1(1)
26             61  Ю1(1)
27            614  Ю1(1)
28             63  Ю1(1)
29            631  Ю1(1)
30            632  Ю1(1)
31             65  Ю1(1)
32            659  Ю1(1)
33            810  Ю1(1)
34            819  Ю1(1)
35            830  Ю1(1)
36            842     Б7
37            861  Ю1(1)
38            864  Ю1(1)
39            878  Ю1(1)
40            889     Б7
41            890     Б7
42            899  Ю1(1)
43            900  Ю1(1)
44            902     Б7
45            903   Б6-7
46            911     Б7
47            913     Б7
48            931  Ю1(1)

In [20]:
new_file = new_file.merge(grp, on='Номер скважины')
new_file

   Номер скважины  Число стадий ГРП  Длиина ГС, м  Пласт
0            1330                 1      0.000000  Ю1(1)
1            1338                 1      0.000000  Ю1(1)
2             149                 1      0.000000  Ю1(1)
3             252                 1      0.000000  Ю1(1)
4             277                 1      0.000000  Ю1(1)
5             300                 1      0.000000  Ю1(1)
6             340                 1      0.000000  Ю1(1)
7             418                 1      0.000000  Ю1(1)
8             431                 1      0.000000  Ю1(1)
9             439                 1      0.000000  Ю1(1)
10            462                 1      0.000000  Ю1(1)
11            487                 1      0.000000  Ю1(1)
12            491                 1      0.000000  Ю1(1)
13            497                 1      0.000000  Ю1(1)
14            503                 1      0.000000  Ю1(1)
15            508                 1      0.000000     Б7
16            525                 1      0.000000   Б6-7
17            535                 1      0.000000  Ю1(1)
18            539                 1      0.000000     Б7
19            564                 1      0.000000     Б7
20             60                 1      0.000000  Ю1(1)
21             61                 1      0.000000  Ю1(1)
22            614                 1      0.000000  Ю1(1)
23            631                 1      0.000000  Ю1(1)
24            810                 1      0.000000  Ю1(1)
25            819                 1      0.000000  Ю1(1)
26            830                 1      0.000000  Ю1(1)
27            842                 1      0.000000     Б7
28            861                 1      0.000000  Ю1(1)
29            864                 1      0.000000  Ю1(1)
30            878                 1      0.000000  Ю1(1)
31            889                 1      0.000000     Б7
32            890                 1      0.000000     Б7
33            899                 1      0.000000  Ю1(1)
34            900                 1      0.000000  Ю1(1)
35            903                 1      0.000000   Б6-7
36            911                 1      0.000000     Б7
37            913                 1      0.000000     Б7
38            931                 1      0.000000  Ю1(1)
39            383                 3    249.369204  Ю1(1)
40            409                 4    358.788238  Ю1(1)
41            480                 5    220.975293  Ю1(1)
42            486                 5    244.754244  Ю1(1)
43             63                 9    530.811643  Ю1(1)
44            632                 7    252.878934  Ю1(1)
45             65                 8    706.543700  Ю1(1)
46            659                 5    263.696796  Ю1(1)

In [21]:
new_file['Полудлина трещины, м'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file['Ширина трещины, мм'] = new_file.apply(
    lambda x: 
    4, axis=1)
new_file['Проницаемость проппанта, Д'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file

,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д"
0,1330,1,0.000000,Ю1(1),100,4,100
1,1338,1,0.000000,Ю1(1),100,4,100
2,149,1,0.000000,Ю1(1),100,4,100
3,252,1,0.000000,Ю1(1),100,4,100
4,277,1,0.000000,Ю1(1),100,4,100
5,300,1,0.000000,Ю1(1),100,4,100
6,340,1,0.000000,Ю1(1),100,4,100
7,418,1,0.000000,Ю1(1),100,4,100
8,431,1,0.000000,Ю1(1),100,4,100
9,439,1,0.000000,Ю1(1),100,4,100
10,462,1,0.000000,Ю1(1),100,4,100
11,487,1,0.000000,Ю1(1),100,4,100
12,491,1,0.000000,Ю1(1),100,4,100
13,497,1,0.000000,Ю1(1),100,4,100
14,503,1,0.000000,Ю1(1),100,4,100
15,508,1,0.000000,Б7,100,4,100
16,525,1,0.000000,Б6-7,100,4,100
17,535,1,0.000000,Ю1(1),100,4,100
18,539,1,0.000000,Б7,100,4,100
19,564,1,0.000000,Б7,100,4,100
20,60,1,0.000000,Ю1(1),100,4,100
21,61,1,0.000000,Ю1(1),100,4,100
22,614,1,0.000000,Ю1(1),100,4,100
23,631,1,0.000000,Ю1(1),100,4,100
24,810,1,0.000000,Ю1(1),100,4,100
25,819,1,0.000000,Ю1(1),100,4,100
26,830,1,0.000000,Ю1(1),100,4,100
27,842,1,0.000000,Б7,100,4,100
28,861,1,0.000000,Ю1(1),100,4,100
29,864,1,0.000000,Ю1(1),100,4,100
30,878,1,0.000000,Ю1(1),100,4,100
31,889,1,0.000000,Б7,100,4,100
32,890,1,0.000000,Б7,100,4,100
33,899,1,0.000000,Ю1(1),100,4,100
34,900,1,0.000000,Ю1(1),100,4,100
35,903,1,0.000000,Б6-7,100,4,100
36,911,1,0.000000,Б7,100,4,100
37,913,1,0.000000,Б7,100,4,100
38,931,1,0.000000,Ю1(1),100,4,100
39,383,3,249.369204,Ю1(1),100,4,100
40,409,4,358.788238,Ю1(1),100,4,100
41,480,5,220.975293,Ю1(1),100,4,100
42,486,5,244.754244,Ю1(1),100,4,100
43,63,9,530.811643,Ю1(1),100,4,100
44,632,7,252.878934,Ю1(1),100,4,100
45,65,8,706.543700,Ю1(1),100,4,100
46,659,5,263.696796,Ю1(1),100,4,100