In [1]:
import pandas as pd
import statistics
import copy

In [2]:
grp=pd.read_excel('фраклист1.xlsx',header=[1], index_col=[1])
grp_number = copy.deepcopy(grp)
grp_number.reset_index(drop=True)
grp_number.reset_index(inplace=True)

#grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
#grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Верх','Низ'],axis=1)
#grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)
grp_number['Номер скважины'] = grp_number.apply(
    lambda x: 
    str(x['Номер скважины']), axis=1)
grp_number

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Проппант,Рпл Хорнер,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель
0,974,Проблемы при построении ГРП,2018-07-28,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,20/40 For+16/20 Bor,56.0,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN
1,974,Проблемы при построении ГРП,2012-06-15,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,NaN,220.0,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN
2,974,NaN,2007-01-06,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,NaN,315.0,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN
3,827,Проблемы при построении ГРП,2019-05-13,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,20/40 For,27.0,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0
4,827,Проблемы при построении ГРП,2015-05-31,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,20/40 БКО +16/20 БКО,NaN,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,20/40Carbo+16/20Carbo,NaN,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN
558,101,Проблемы при построении ГРП,2015-04-20,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,20/40Carbo+16/20Carbo,NaN,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN
559,101,Проблемы при построении ГРП,2006-02-06,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,NaN,152.0,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN
560,1003,Проблемы при построении ГРП,2017-06-26,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,20/40 Bor+16/30 Nika+12/18 Nika 12/18 Fo,46.6,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN
561,1003,Проблемы при построении ГРП,2008-05-31,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,NaN,227.0,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN

In [3]:
grp_number['Дата'] = grp_number.apply(
    lambda x: 
    str(x['Дата']), axis=1)
grp_number['месяц с грп'] = grp_number.apply(
    lambda x: 
     x['Дата'][:7],
    axis=1
)
grp_number

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Рпл Хорнер,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель,месяц с грп
0,974,Проблемы при построении ГРП,2018-07-28 00:00:00,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,56.0,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN,2018-07
1,974,Проблемы при построении ГРП,2012-06-15 00:00:00,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,220.0,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN,2012-06
2,974,NaN,2007-01-06 00:00:00,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,315.0,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN,2007-01
3,827,Проблемы при построении ГРП,2019-05-13 00:00:00,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,27.0,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0,2019-05
4,827,Проблемы при построении ГРП,2015-05-31 00:00:00,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,NaN,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN,2015-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21 00:00:00,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,NaN,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN,2015-04
558,101,Проблемы при построении ГРП,2015-04-20 00:00:00,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,NaN,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN,2015-04
559,101,Проблемы при построении ГРП,2006-02-06 00:00:00,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,152.0,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN,2006-02
560,1003,Проблемы при построении ГРП,2017-06-26 00:00:00,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,46.6,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN,2017-06
561,1003,Проблемы при построении ГРП,2008-05-31 00:00:00,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,227.0,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN,2008-05

In [4]:
grp_number_group = grp_number.groupby(by=['Номер скважины','месяц с грп']).agg(
    {'Наклон': lambda x: 
     x.tolist()}
)
grp_number_group.head(30)

                                                                Наклон
Номер скважины месяц с грп
1003           2008-05                                          [1.65]
               2017-06                                           [2.0]
101            2006-02                                           [8.2]
               2015-04                              [90.0, 90.0, 91.0]
               2016-01                                           [9.0]
1022Л          2017-03                                          [0.25]
1028           2019-03                                         [84.69]
               2019-04                  [24.0, 24.0, 24.0, 24.0, 24.0]
1060           2017-05      [89.0, 90.0, 92.0, 91.0, 93.0, 91.0, 92.0]
1119           2012-11                                           [nan]
1138           2006-05                                          [2.15]
1150           2013-01                                           [6.4]
1157           2004-03                                           [nan]
               2007-10                                         [31.15]
1159           2007-06                                           [2.8]
1165           2003-12                                      [nan, nan]
               2006-06                                           [nan]
               2010-07                                           [nan]
1180           2018-10            [84.0, 90.0, 89.0, 88.0, 87.0, 87.0]
1182           2017-07                    [90.29, 90.29, 90.29, 90.29]
               2018-03                                         [58.31]
1183           2007-11                                           [6.3]
               2009-04                                          [5.84]
               2017-09                  [89.9, 89.9, 89.9, 89.9, 89.9]
1185           2003-01                                           [nan]
               2007-09                                           [0.3]
               2018-02                  [81.3, 81.3, 81.3, 81.3, 81.3]
1189           2007-02                                          [5.15]
               2009-09                                          [5.25]
               2013-08                              [90.0, 90.0, 90.0]

In [5]:

grp_number_group.reset_index(inplace=True)
grp_number_group

    Номер скважины месяц с грп                    Наклон
0             1003     2008-05                    [1.65]
1             1003     2017-06                     [2.0]
2              101     2006-02                     [8.2]
3              101     2015-04        [90.0, 90.0, 91.0]
4              101     2016-01                     [9.0]
..             ...         ...                       ...
257            827     2015-05  [88.7, 88.7, 87.9, 88.4]
258            827     2019-05                    [12.0]
259            974     2007-01                     [2.0]
260            974     2012-06                    [4.25]
261            974     2018-07                     [3.0]

[262 rows x 3 columns]

In [6]:
grp_number_group['число стадий'] = grp_number_group.apply(
    lambda x: 
    len(x['Наклон']), axis=1)
grp_number_group

    Номер скважины месяц с грп                    Наклон  число стадий
0             1003     2008-05                    [1.65]             1
1             1003     2017-06                     [2.0]             1
2              101     2006-02                     [8.2]             1
3              101     2015-04        [90.0, 90.0, 91.0]             3
4              101     2016-01                     [9.0]             1
..             ...         ...                       ...           ...
257            827     2015-05  [88.7, 88.7, 87.9, 88.4]             4
258            827     2019-05                    [12.0]             1
259            974     2007-01                     [2.0]             1
260            974     2012-06                    [4.25]             1
261            974     2018-07                     [3.0]             1

[262 rows x 4 columns]

In [7]:
grp_number_group = grp_number_group.drop('Наклон', axis=1)
grp_number_group

    Номер скважины месяц с грп  число стадий
0             1003     2008-05             1
1             1003     2017-06             1
2              101     2006-02             1
3              101     2015-04             3
4              101     2016-01             1
..             ...         ...           ...
257            827     2015-05             4
258            827     2019-05             1
259            974     2007-01             1
260            974     2012-06             1
261            974     2018-07             1

[262 rows x 3 columns]