In [1]:
import pandas as pd
import statistics
import copy
import datetime

In [2]:
coordinates = pd.read_excel('координаты скв1.xlsx')
coordinates.head()

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории)
0,1003,560719,6776574,560689,6776622
1,101,555210,6775712,555163,6775427
2,1022Л,561504,6778331,561503,6778330
3,1028,554254,6783332,553976,6783576
4,1060,556124,6786642,555945,6787230

In [3]:
#вычисление длины ствола гс скважины
coordinates['Length'] = coordinates.apply(
    lambda x:((x['Координата забоя Х (по траектории)']-x['Координата X'])**(2)+
              (x['Координата забоя Y (по траектории)']-x['Координата Y'])**(2)) **(0.5)
    , axis=1)
coordinates['№ скважины'] = coordinates.apply(
    lambda x: 
    str(x['№ скважины']), axis=1)
coordinates
coordinates.head(30)

,№ скважины,Координата X,Координата Y,Координата забоя Х (по траектории),Координата забоя Y (по траектории),Length
0,1003,560719,6776574,560689,6776622,56.603887
1,101,555210,6775712,555163,6775427,288.849442
2,1022Л,561504,6778331,561503,6778330,1.414214
3,1028,554254,6783332,553976,6783576,369.891876
4,1060,556124,6786642,555945,6787230,614.642172
5,1119,555020,6788479,555022,6788483,4.472136
6,1133,554315,6789235,554308,6789235,7.000000
7,1138,554352,6788748,554350,6788747,2.236068
8,1140,555492,6789478,555496,6789481,5.000000
9,1142,555403,6788783,555410,6788782,7.071068
10,1145,555955,6788641,555971,6788636,16.763055
11,1150,556245,6787507,556246,6787501,6.082763
12,1153Л,556461,6787261,556460,6787258,3.162278
13,1157,550275,6785100,550261,6785089,17.804494
14,1159,551319,6785960,551320,6785959,1.414214
15,1165,551292,6785565,551289,6785566,3.162278
16,1180,562679,6778479,562906,6778691,310.601030
17,1182,562250,6777878,561983,6777954,277.605836
18,1183,563320,6778811,563104,6779103,363.207929
19,1183Л,563457,6778659,563459,6778664,5.385165
20,1185,563116,6777572,563341,6777300,353.000000
21,1185Л,562994,6777733,562993,6777733,1.000000
22,1188Л,563037,6777157,563038,6777154,3.162278
23,1189,563661,6777382,563682,6777132,250.880450
24,1190,562885,6776081,562880,6776078,5.830952
25,1191,563268,6776552,563277,6776556,9.848858
26,1198,563324,6774285,563331,6774284,7.071068
27,1205,559719,6775373,559712,6775349,25.000000
28,1209Л,562095,6775283,562101,6775279,7.211103
29,1211,560354,6777848,560347,6777843,8.602325

In [4]:
grp_dad=pd.read_excel('фраклист1.xlsx',header=[1], index_col=[1])
grp = copy.deepcopy(grp_dad)
grp.reset_index(drop=True)
grp.reset_index(inplace=True)

#grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
#grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Верх','Низ'],axis=1)
#grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)
grp['Номер скважины'] = grp.apply(
    lambda x: 
    str(x['Номер скважины']), axis=1)
grp

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Проппант,Рпл Хорнер,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель
0,974,Проблемы при построении ГРП,2018-07-28,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,20/40 For+16/20 Bor,56.0,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN
1,974,Проблемы при построении ГРП,2012-06-15,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,NaN,220.0,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN
2,974,NaN,2007-01-06,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,NaN,315.0,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN
3,827,Проблемы при построении ГРП,2019-05-13,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,20/40 For,27.0,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0
4,827,Проблемы при построении ГРП,2015-05-31,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,20/40 БКО +16/20 БКО,NaN,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,20/40Carbo+16/20Carbo,NaN,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN
558,101,Проблемы при построении ГРП,2015-04-20,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,20/40Carbo+16/20Carbo,NaN,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN
559,101,Проблемы при построении ГРП,2006-02-06,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,NaN,152.0,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN
560,1003,Проблемы при построении ГРП,2017-06-26,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,20/40 Bor+16/30 Nika+12/18 Nika 12/18 Fo,46.6,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN
561,1003,Проблемы при построении ГРП,2008-05-31,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,NaN,227.0,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN

In [5]:
#координаты скважин для нашего объекта 
my_wells=grp['Номер скважины'].tolist()
my_wells_no_repeat = [] 
for x in my_wells:
    if x not in my_wells_no_repeat:
        my_wells_no_repeat.append(x)
my_wells_no_repeat

['974',
 '827',
 '824',
 '822',
 '821',
 '597',
 '546',
 '5358',
 '5319',
 '5316',
 '5314',
 '5289',
 '5251',
 '5240',
 '5235',
 '5233',
 '5226',
 '5217',
 '5216',
 '5202',
 '5183',
 '5176',
 '5166',
 '5163',
 '5162',
 '5132',
 '5113',
 '5112',
 '5109',
 '5108',
 '5104Л',
 '5102',
 '5004',
 '5003',
 '5002Л',
 '4768',
 '4732',
 '4346',
 '407',
 '3794',
 '3788',
 '3786',
 '3784',
 '3782',
 '3575',
 '3568',
 '3567',
 '3566',
 '3564',
 '3563',
 '3562',
 '3561',
 '3544',
 '2774',
 '267',
 '235',
 '2296',
 '2222',
 '2220',
 '2214',
 '2136',
 '2134',
 '2133',
 '2131',
 '2130',
 '2012',
 '1978Л2',
 '1978',
 '1977',
 '1976',
 '1974',
 '1971',
 '1970',
 '1796',
 '1790',
 '1670',
 '1568',
 '1554',
 '1552',
 '1550',
 '1506',
 '1483',
 '1464',
 '1417',
 '1416',
 '1342',
 '1339',
 '1337',
 '1336',
 '1335',
 '1320',
 '1319',
 '1317',
 '1308',
 '1304Л2',
 '1302',
 '1293',
 '1292',
 '1290',
 '1288',
 '1287',
 '1285',
 '1283',
 '1279',
 '1278',
 '1277',
 '1271',
 '1270',
 '1267',
 '1256',
 '1255',
 '1241Л',
 '1240',
 '1235Л',
 '1221',
 '1218',
 '1217',
 '1211',
 '1198',
 '1191',
 '1190',
 '1189',
 '1185',
 '1183',
 '1182',
 '1180',
 '1165',
 '1159',
 '1157',
 '1150',
 '1138',
 '1119',
 '1060',
 '1028',
 '1022Л',
 '101',
 '1003']

In [6]:

coordinates=coordinates[
    coordinates['№ скважины'].isin(my_wells_no_repeat)].reset_index(drop=True)
coordinates.head

<bound method NDFrame.head of     № скважины  Координата X  Координата Y  \
0         1003        560719       6776574
1          101        555210       6775712
2        1022Л        561504       6778331
3         1028        554254       6783332
4         1060        556124       6786642
..         ...           ...           ...
132       5358        559266       6770043
133        974        561941       6771177
134       5319        558016       6761269
135       5314        557602       6761104
136       5316        557406       6760617

     Координата забоя Х (по траектории)  Координата забоя Y (по траектории)  \
0                                560689                             6776622
1                                555163                             6775427
2                                561503                             6778330
3                                553976                             6783576
4                                555945                             6787230
..                                  ...                                 ...
132                              559902                             6769901
133                              561946                             6771174
134                              558021                             6761306
135                              557601                             6761101
136                              557407                             6760600

         Length
0     56.603887
1    288.849442
2      1.414214
3    369.891876
4    614.642172
..          ...
132  651.659420
133    5.830952
134   37.336309
135    3.162278
136   17.029386

[137 rows x 6 columns]>

In [7]:

coordinates=coordinates.drop(['Координата X','Координата Y','Координата забоя Х (по траектории)','Координата забоя Y (по траектории)'],axis=1)
new=coordinates['№ скважины'].tolist()
coordinates['Номер скважины']=new
coordinates=coordinates.drop(['№ скважины'],axis=1)

coordinates.head(30)

        Length Номер скважины
0    56.603887           1003
1   288.849442            101
2     1.414214          1022Л
3   369.891876           1028
4   614.642172           1060
5     4.472136           1119
6     2.236068           1138
7     6.082763           1150
8    17.804494           1157
9     1.414214           1159
10    3.162278           1165
11  310.601030           1180
12  277.605836           1182
13  363.207929           1183
14  353.000000           1185
15  250.880450           1189
16    5.830952           1190
17    9.848858           1191
18    7.071068           1198
19    8.602325           1211
20   46.529560           1217
21  301.144484           1218
22   41.146081           1221
23   12.041595          1235Л
24    9.848858           1240
25    3.162278          1241Л
26    5.000000           1255
27    7.211103           1256
28   10.295630           1267
29    9.219544           1270

In [8]:
final = grp.merge(coordinates, on='Номер скважины')
final['Длиина ГС, м'] = final.apply(
    lambda x: 
    x['Length'] if x['Наклон']>=70
    else 0, axis=1)

final.loc[final['Номер скважины'] == '1183']

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель,Length,"Длиина ГС, м"
513,1183,Проблемы при построении ГРП,2017-09-04,КН,"Оборудование: НКТ, АМТ- ООО ""КАТКонефть"" Сти...",-1_,NaN,Ю1,89.90,326.5,...,56.0,3.2,1000.0,NaN,43.0,30.0,99.0,NaN,363.207929,363.207929
514,1183,Проблемы при построении ГРП,2017-09-03,КН,"Оборудование: НКТ, АМТ- ООО ""КАТКонефть"" Сти...",-1_,NaN,Ю1,89.90,326.5,...,64.0,3.2,1000.0,NaN,43.0,30.0,99.0,NaN,363.207929,363.207929
515,1183,Проблемы при построении ГРП,2017-09-03,КН,"Оборудование: НКТ, АМТ- ООО ""КАТКонефть"" Сти...",-1_,NaN,Ю1,89.90,326.5,...,55.0,3.2,1000.0,NaN,43.0,30.0,99.0,NaN,363.207929,363.207929
516,1183,Проблемы при построении ГРП,2017-09-03,КН,"Оборудование: НКТ, АМТ- ООО ""КАТКонефть"" Сти...",-1_,NaN,Ю1,89.90,326.5,...,60.0,3.2,1000.0,NaN,43.0,30.0,99.0,NaN,363.207929,363.207929
517,1183,Проблемы при построении ГРП,2017-09-02,КН,"Оборудование: НКТ, АМТ- ООО ""КАТКонефть"" Сти...",-1_,NaN,Ю1,89.90,326.5,...,28.0,3.2,800.0,NaN,44.0,34.0,123.0,NaN,363.207929,363.207929
518,1183,Проблемы при построении ГРП,2009-04-29,МКН,"Уменьшили подушку до 35м3 (план 38м3), график ...",-1_,NaN,Ю1,5.84,7.0,...,41.0,2.5,800.0,NaN,NaN,35.0,158.6,NaN,363.207929,0.000000
519,1183,Проблемы при построении ГРП,2007-11-12,МКН,По результату Мини-ГРП принято решение уменьши...,-1_,NaN,Б19-22,6.30,10.0,...,50.0,NaN,1000.0,NaN,NaN,60.0,187.4,NaN,363.207929,0.000000

In [9]:
#final=final.drop(['Наклон','Length'],axis=1)
final_number = final.groupby('Номер скважины').agg(
    {'Дата': lambda x: 
     x.tolist()}
)

final

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель,Length,"Длиина ГС, м"
0,974,Проблемы при построении ГРП,2018-07-28,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN,5.830952,0.000000
1,974,Проблемы при построении ГРП,2012-06-15,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN,5.830952,0.000000
2,974,NaN,2007-01-06,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN,5.830952,0.000000
3,827,Проблемы при построении ГРП,2019-05-13,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0,786.623798,0.000000
4,827,Проблемы при построении ГРП,2015-05-31,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN,786.623798,786.623798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN,288.849442,288.849442
558,101,Проблемы при построении ГРП,2015-04-20,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN,288.849442,288.849442
559,101,Проблемы при построении ГРП,2006-02-06,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN,288.849442,0.000000
560,1003,Проблемы при построении ГРП,2017-06-26,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN,56.603887,0.000000
561,1003,Проблемы при построении ГРП,2008-05-31,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN,56.603887,0.000000

In [10]:
#обработка и чтение гтм
grp_gtm=pd.read_excel('гтм1.xlsx',header=[1], index_col=[1])
grp_1 = copy.deepcopy(grp_gtm)
grp_1.reset_index(drop=True)
grp_1.reset_index(inplace=True)
grp_1

,Месторождение,Unnamed: 0,Скважина,Куст,Тип,Объект разработки до ГТМ,Пласт,Страница,gtmTypeFullName,Dэк,...,Комментарий,План,Факт,Пл-ть нефти,Коб,В-ть жидк.,P нас,За текущий месяц,С начала года,С начала мероприятия
0,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ватинское,Добывающая,1003,КУСТ-24,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3935,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3936,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3937,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3938,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
grp_1['Скважина'] = grp_1.apply(
    lambda x: 
    str(x['Скважина']), axis=1)
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
#grp_1=grp_1.drop(['С начала мероприятия','С начала года','За текущий месяц','P нас','В-ть жидк.','Коб'],axis=1)
#grp_1=grp_1.drop(['Пл-ть нефти','Факт','План','Комментарий','Dэк','Пласт','Страница'],axis=1)
#grp_1=grp_1.drop(['Unnamed: 11','Hэфф','Pпл.2','H дин.1','Pзаб.2','Состояние.1','Кпр'],axis=1)
#grp_1=grp_1.drop(['Скин-фактор.1','Интервалы перф..1','Насос.1','Напор.1','Производительность.1'],axis=1)
#grp_1=grp_1.drop(['%.2','Qж.2','Qн.2','Hспуск.1','Кач.1','Част.1','Lхода.1','Метод.1','Скин-фактор','Pзаб.1','Метод','Re'],axis=1)
#grp_1=grp_1.drop(['Pпл.1','%.1','Qж.1','Qн.1','Окончание','Начало','Производительность','Насос'],axis=1)
#grp_1=grp_1.drop(['Интервалы перф.','Hвд','Состояние','Pзаб','Pпл','H дин','Lхода','Напор'],axis=1)
#grp_1=grp_1.drop(['Месторождение','Unnamed: 0','Куст','Част','Кач','Hспуск','Qн','Qж','%'],axis=1)
grp_1

,Месторождение,Unnamed: 0,Скважина,Куст,Тип,Объект разработки до ГТМ,Пласт,Страница,gtmTypeFullName,Dэк,...,Комментарий,План,Факт,Пл-ть нефти,Коб,В-ть жидк.,P нас,За текущий месяц,С начала года,С начала мероприятия
0,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ватинское,Добывающая,1003,КУСТ-24,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3349,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3350,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3351,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3352,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
grp_1=grp_1[grp_1['Скважина'].isin(my_wells_no_repeat)].reset_index(drop=True)
grp_1

,Месторождение,Unnamed: 0,Скважина,Куст,Тип,Объект разработки до ГТМ,Пласт,Страница,gtmTypeFullName,Dэк,...,Комментарий,План,Факт,Пл-ть нефти,Коб,В-ть жидк.,P нас,За текущий месяц,С начала года,С начала мероприятия
0,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ватинское,Добывающая,1003,КУСТ-24,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ватинское,Добывающая,1003,КУСТ-24,РИР,NaN,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3348,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3349,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3350,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3351,Ватинское,Добывающая,974,КУСТ-106,Запуск без ремонта,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3352,Ватинское,Добывающая,974,КУСТ-106,См_ПО,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#даты введения ГРП и ВНС на скважинах очень важно!!!!!!!
grp_3 = copy.deepcopy(grp_1)
grp_3=grp_1
grp_3['Дата ВНР после ГС \\ ГРП \\ЗБГС'] = grp_3.apply(
    lambda x: 
    x['ВНР.1'] if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else x['Начало.1'] if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    
    else 'нет', axis=1)
grp_3['Тип ГТМ'] = grp_3.apply(
    lambda x: 
    'ГРП' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'ВНС' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_3 = grp_3.drop(grp_1[grp_1['Дата ВНР после ГС \\ ГРП \\ЗБГС'] == 'нет'].index)
grp_3 = grp_3.groupby(by=['Скважина','Дата ВНР после ГС \ ГРП \ЗБГС']).agg(
    {'Тип ГТМ': lambda x: 
     x.tolist()[0]}
)
grp_3.reset_index(inplace=True)
vvv=grp_3['Скважина'].tolist()

grp_3['Номер скважины']=vvv
grp_3=grp_3.drop(['Скважина'],axis=1)
grp_3

    Дата ВНР после ГС \ ГРП \ЗБГС Тип ГТМ Номер скважины
0                      1995-09-01     ГРП           1003
1                      2008-06-04     ГРП           1003
2                      2017-07-06     ГРП           1003
3                      2006-02-06     ГРП            101
4                      2015-04-26     ГРП            101
..                            ...     ...            ...
379                    1995-11-01     ГРП            974
380                    2007-01-16     ГРП            974
381                    2012-06-20     ГРП            974
382                    2012-07-02     ГРП            974
383                    2018-08-05     ГРП            974

[384 rows x 3 columns]

In [14]:
grp_2 = copy.deepcopy(grp_1)
grp_2['ГРП'] = grp_2.apply(
    lambda x: 
    'грп' if 'КР7-2' in str(x['Краткое описание мероприятий'])
    else 'вдс' if 'Ввод добывающих сква' in str(x['Краткое описание мероприятий'])
    else 'нет', axis=1)
grp_2 = grp_2.drop(grp_2[grp_2['ГРП'] == 'нет'].index)
grp_2

,Месторождение,Unnamed: 0,Скважина,Куст,Тип,Объект разработки до ГТМ,Пласт,Страница,gtmTypeFullName,Dэк,...,Пл-ть нефти,Коб,В-ть жидк.,P нас,За текущий месяц,С начала года,С начала мероприятия,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,ГРП
1,Ватинское,Добывающая,1003,КУСТ-24,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995-09-01 00:00:00,ГРП,грп
9,Ватинское,Добывающая,1003,КУСТ-24,ГРП,А2,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-06-04 00:00:00,ГРП,грп
22,Ватинское,Добывающая,1003,КУСТ-24,ГРП,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-06 00:00:00,ГРП,грп
36,Ватинское,Добывающая,101,КУСТ-15,ГРП,А2,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-02-06 00:00:00,ГРП,грп
47,Ватинское,Добывающая,101,КУСТ-15,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-26 00:00:00,ГРП,грп
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3298,Ватинское,Добывающая,974,КУСТ-106,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995-11-01 00:00:00,ГРП,грп
3307,Ватинское,Добывающая,974,КУСТ-106,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-01-16 00:00:00,ГРП,грп
3328,Ватинское,Добывающая,974,КУСТ-106,ГРП,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-20 00:00:00,ГРП,грп
3329,Ватинское,Добывающая,974,КУСТ-106,ГРП,Ю1,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-07-02 00:00:00,ГРП,грп
3343,Ватинское,Добывающая,974,КУСТ-106,ГРП,Б19-22,NaN,-1_,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-05 00:00:00,ГРП,грп

In [15]:
grp_2 = grp_2.groupby('Скважина').agg(
    {'ГРП': lambda x: 
     x.tolist()}
)
grp_2.reset_index(inplace=True)
grp_2

    Скважина                        ГРП
0       1003            [грп, грп, грп]
1        101            [грп, грп, грп]
2       1028                      [грп]
3       1060                 [грп, вдс]
4       1119            [грп, грп, грп]
..       ...                        ...
124      821       [вдс, грп, грп, грп]
125      822                      [вдс]
126      824                 [грп, вдс]
127      827  [грп, вдс, грп, грп, грп]
128      974  [грп, грп, грп, грп, грп]

[129 rows x 2 columns]

In [16]:
for i in grp_2['ГРП']:
    if 'вдс' in i:
        i.remove('вдс')
grp_2

    Скважина                        ГРП
0       1003            [грп, грп, грп]
1        101            [грп, грп, грп]
2       1028                      [грп]
3       1060                      [грп]
4       1119            [грп, грп, грп]
..       ...                        ...
124      821            [грп, грп, грп]
125      822                         []
126      824                      [грп]
127      827       [грп, грп, грп, грп]
128      974  [грп, грп, грп, грп, грп]

[129 rows x 2 columns]

In [17]:
new_1=grp_2['Скважина'].tolist()
grp_2['Номер скважины']=new_1
grp_2=grp_2.drop(['Скважина'],axis=1)
final = final.merge(grp_2, on='Номер скважины')
final

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Расход,Конц,Гель,М бр,V под,V без под,V гель,Length,"Длиина ГС, м",ГРП
0,974,Проблемы при построении ГРП,2018-07-28,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,3.4,NaN,NaN,51.70,50.0,417.1,NaN,5.830952,0.000000,"[грп, грп, грп, грп, грп]"
1,974,Проблемы при построении ГРП,2012-06-15,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,3.4,1200.0,NaN,NaN,16.0,129.4,NaN,5.830952,0.000000,"[грп, грп, грп, грп, грп]"
2,974,NaN,2007-01-06,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,NaN,1000.0,NaN,NaN,180.0,436.6,NaN,5.830952,0.000000,"[грп, грп, грп, грп, грп]"
3,827,Проблемы при построении ГРП,2019-05-13,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,2.6,1000.0,NaN,8.41,6.0,NaN,23.0,786.623798,0.000000,"[грп, грп, грп, грп]"
4,827,Проблемы при построении ГРП,2015-05-31,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,3.4,900.0,NaN,70.00,9.0,74.0,NaN,786.623798,786.623798,"[грп, грп, грп, грп]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,101,Проблемы при построении ГРП,2015-04-21,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,3.2,900.0,NaN,25.50,16.0,97.9,NaN,288.849442,288.849442,"[грп, грп, грп]"
535,101,Проблемы при построении ГРП,2015-04-20,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,3.2,800.0,NaN,26.50,16.0,130.1,NaN,288.849442,288.849442,"[грп, грп, грп]"
536,101,Проблемы при построении ГРП,2006-02-06,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,NaN,850.0,NaN,NaN,30.0,130.5,NaN,288.849442,0.000000,"[грп, грп, грп]"
537,1003,Проблемы при построении ГРП,2017-06-26,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,3.6,1300.0,NaN,42.00,100.0,279.2,NaN,56.603887,0.000000,"[грп, грп, грп]"
538,1003,Проблемы при построении ГРП,2008-05-31,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,NaN,800.0,NaN,NaN,9.0,69.8,NaN,56.603887,0.000000,"[грп, грп, грп]"

In [18]:
final['Число стадий ГРП'] = final.apply(
    lambda x: 
    len(x['ГРП']) if len(x['ГРП'])>0
    else 0, axis=1)
final=final.drop(['ГРП'],axis=1)
#число стадий грп по фраклисту
final=final.drop(['Дата'],axis=1)
final_re = final.groupby(by=['Номер скважины']).agg(
    {'Число стадий ГРП': lambda x: 
     statistics.mean(x)}
)
final_re.reset_index(inplace=True)
final_re

    Номер скважины  Число стадий ГРП
0             1003                 3
1              101                 3
2             1028                 1
3             1060                 1
4             1119                 3
..             ...               ...
124            821                 3
125            822                 0
126            824                 1
127            827                 4
128            974                 5

[129 rows x 2 columns]

In [19]:
final_go = final.groupby(by=['Номер скважины']).agg(
    {'Длиина ГС, м': lambda x: 
     max(x)}
)
final_go.reset_index(inplace=True)

final_go.loc[final_go['Номер скважины'] == '1183']

   Номер скважины  Длиина ГС, м
11           1183    363.207929

In [20]:
final_re = final_re.merge(final_go, on='Номер скважины')


final_re.loc[final_re['Номер скважины'] == '1183']

   Номер скважины  Число стадий ГРП  Длиина ГС, м
11           1183                 4    363.207929

In [21]:
final_re['Число стадий ГРП'] = final_re.apply(
    lambda x: 
    1 if x['Длиина ГС, м']==0 and x['Число стадий ГРП']>=1 
    else x['Число стадий ГРП'], axis=1)

final_re.loc[final_re['Номер скважины'] == '1183']

   Номер скважины  Число стадий ГРП  Длиина ГС, м
11           1183                 4    363.207929

In [22]:
final_re1=final_re
final_re1 = final_re1.drop(final_re1[final_re1['Длиина ГС, м'] == 0].index).reset_index(drop=True)
spisok=final_re1['Номер скважины'].tolist()
final_re1

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0             101                 3    288.849442
1            1028                 1    369.891876
2            1060                 1    614.642172
3            1180                 9    310.601030
4            1182                 2    277.605836
5            1183                 4    363.207929
6            1185                 5    353.000000
7            1189                11    250.880450
8            1218                 6    301.144484
9            1302                 2    299.147121
10           1308                 4    220.907220
11           1319                 1    246.292509
12           1336                 1    492.293612
13           1483                 1    478.991649
14           1506                 1    574.373572
15           1550                 1    550.051816
16           1552                 0    606.906912
17           1554                 1    699.820691
18           1568                 1    519.665277
19           1670                 1    597.703940
20           1796                 1    682.760573
21           1970                 1    658.223366
22           1974                 1    648.526021
23           1976                 1    483.480093
24           1977                 1    721.773510
25           1978                 3    277.800288
26           2012                 1    756.679589
27           2131                 5    876.733141
28           2134                 1    689.232907
29           2136                 4    804.150483
30           2214                 1    712.613500
31           2220                 1    798.491703
32           2222                 1    804.330778
33           2296                 6    944.467045
34            235                 1    340.261664
35           2774                 2    367.153919
36           3544                 4    344.911583
37           3561                 5    739.282084
38           3562                 3    558.426360
39           3563                 1    589.428537
40           3564                 1    505.755870
41           3566                 4    558.950803
42           3567                 3    350.008571
43            407                 1    261.007663
44           4346                 3    451.249377
45           4732                 2    286.008741
46           5102                 8      2.236068
47           5132                 1    574.471061
48           5162                 2    670.018656
49           5163                 1    622.020096
50           5166                 2    656.196617
51           5176                 2    525.244705
52           5202                 4    307.247457
53           5240                 6    591.037224
54           5358                 1    651.659420
55            821                 3    373.363094
56            822                 0    478.806850
57            824                 1    636.387461
58            827                 4    786.623798

In [23]:
#берем число строк из фраклиста для скважины
final = final.groupby('Номер скважины').agg(
    {'Число стадий ГРП': lambda x: 
     x.tolist()}
)

final['Количество'] = final.apply(
    lambda x: 
    len(x['Число стадий ГРП']) 
    ,axis=1)
final.reset_index(inplace=True)
final=final[final['Номер скважины'].isin(spisok)].reset_index(drop=True)
final=final.drop(['Число стадий ГРП'],axis=1)
final

   Номер скважины  Количество
0             101           5
1            1028           6
2            1060           7
3            1180           6
4            1182           5
5            1183           7
6            1185           7
7            1189           8
8            1218           5
9            1302           7
10           1308           6
11           1319           1
12           1336           5
13           1483           5
14           1506           8
15           1550           7
16           1552           7
17           1554          10
18           1568           3
19           1670           6
20           1796           8
21           1970           6
22           1974           6
23           1976           3
24           1977           6
25           1978           4
26           2012          10
27           2131          11
28           2134          10
29           2136          11
30           2214           9
31           2220           8
32           2222          11
33           2296          12
34            235           6
35           2774           5
36           3544          10
37           3561           9
38           3562          10
39           3563           6
40           3564           4
41           3566           7
42           3567          16
43            407           5
44           4346           8
45           4732           5
46           5102           5
47           5132           9
48           5162           7
49           5163           5
50           5166           9
51           5176           5
52           5202           6
53           5240           7
54           5358           6
55            821           7
56            822           2
57            824           6
58            827           5

In [24]:
final_re2 = final_re.merge(final, on='Номер скважины')
final_re2=final_re2.drop(['Число стадий ГРП'],axis=1)
cv=final_re2['Количество'].tolist()
final_re2['Число стадий ГРП']=cv
final_re2=final_re2.drop(['Количество'],axis=1)

final_re2.loc[final_re2['Номер скважины'] == '1183']

  Номер скважины  Длиина ГС, м  Число стадий ГРП
5           1183    363.207929                 7

In [25]:
final_re=final_re[~final_re['Номер скважины'].isin(spisok)].reset_index(drop=True)

final_re.loc[final_re['Номер скважины'] == '1183']

Empty DataFrame
Columns: [Номер скважины, Число стадий ГРП, Длиина ГС, м]
Index: []

In [26]:
new_file=pd.concat([final_re,final_re2])
new_file

   Номер скважины  Число стадий ГРП  Длиина ГС, м
0            1003                 1      0.000000
1            1119                 1      0.000000
2            1138                 1      0.000000
3            1150                 1      0.000000
4            1157                 1      0.000000
..            ...               ...           ...
54           5358                 6    651.659420
55            821                 7    373.363094
56            822                 2    478.806850
57            824                 6    636.387461
58            827                 5    786.623798

[129 rows x 3 columns]

In [27]:
grp = grp.groupby('Номер скважины').agg(
    {'Пласт': lambda x: 
     x.tolist()[0]}
)
grp.reset_index(inplace=True)
grp

    Номер скважины     Пласт
0             1003    Б19-22
1              101        А2
2            1022Л        Б8
3             1028        Ю1
4             1060        Ю1
..             ...       ...
132            821  Ю1,Ю1,Ю1
133            822        Ю1
134            824        Ю1
135            827     А1(3)
136            974    Б19-22

[137 rows x 2 columns]

In [28]:
new_file = new_file.merge(grp, on='Номер скважины')
new_file
new_file.loc[new_file['Номер скважины'] == '1183']

   Номер скважины  Число стадий ГРП  Длиина ГС, м Пласт
75           1183                 7    363.207929    Ю1

In [29]:
new_file['Полудлина трещины, м'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file['Ширина трещины, мм'] = new_file.apply(
    lambda x: 
    4, axis=1)
new_file['Проницаемость проппанта, Д'] = new_file.apply(
    lambda x: 
    100, axis=1)
new_file

,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д"
0,1003,1,0.000000,Б19-22,100,4,100
1,1119,1,0.000000,А2,100,4,100
2,1138,1,0.000000,Ю1,100,4,100
3,1150,1,0.000000,А1(3),100,4,100
4,1157,1,0.000000,Ю1,100,4,100
...,...,...,...,...,...,...,...
124,5358,6,651.659420,Ю1,100,4,100
125,821,7,373.363094,"Ю1,Ю1,Ю1",100,4,100
126,822,2,478.806850,Ю1,100,4,100
127,824,6,636.387461,Ю1,100,4,100
128,827,5,786.623798,А1(3),100,4,100

In [30]:
#объединение грп и нью файла по скважинам
sotired = grp_3.merge(new_file, on='Номер скважины')
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д"
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100
1,2008-06-04,ГРП,1003,1,0.000000,Б19-22,100,4,100
2,2017-07-06,ГРП,1003,1,0.000000,Б19-22,100,4,100
3,2006-02-06,ГРП,101,5,288.849442,А2,100,4,100
4,2015-04-26,ГРП,101,5,288.849442,А2,100,4,100
...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100
380,2007-01-16,ГРП,974,1,0.000000,Б19-22,100,4,100
381,2012-06-20,ГРП,974,1,0.000000,Б19-22,100,4,100
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100
383,2018-08-05,ГРП,974,1,0.000000,Б19-22,100,4,100

In [31]:
#добавляем последнй столбец
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    'ННС' if x['Длиина ГС, м']==0
    else 'ГС', axis=1)
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",ГС/ННС
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
1,2008-06-04,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
2,2017-07-06,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС
3,2006-02-06,ГРП,101,5,288.849442,А2,100,4,100,ГС
4,2015-04-26,ГРП,101,5,288.849442,А2,100,4,100,ГС
...,...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
380,2007-01-16,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
381,2012-06-20,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС
383,2018-08-05,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС

In [32]:
#редактируем его в зависимости от наличия грп
sotired['ГС/ННС'] = sotired.apply(
    lambda x: 
    str(x['ГС/ННС'])+'+ГРП' if str(x['Тип ГТМ'])=='ГРП'
    else x['ГС/ННС'], axis=1)
sotired

,Дата ВНР после ГС \ ГРП \ЗБГС,Тип ГТМ,Номер скважины,Число стадий ГРП,"Длиина ГС, м",Пласт,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",ГС/ННС
0,1995-09-01,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
1,2008-06-04,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
2,2017-07-06,ГРП,1003,1,0.000000,Б19-22,100,4,100,ННС+ГРП
3,2006-02-06,ГРП,101,5,288.849442,А2,100,4,100,ГС+ГРП
4,2015-04-26,ГРП,101,5,288.849442,А2,100,4,100,ГС+ГРП
...,...,...,...,...,...,...,...,...,...,...
379,1995-11-01,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
380,2007-01-16,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
381,2012-06-20,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
382,2012-07-02,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП
383,2018-08-05,ГРП,974,1,0.000000,Б19-22,100,4,100,ННС+ГРП

In [33]:
#перемещаем столбцы в нужном порядке
r = sotired.pop('Дата ВНР после ГС \ ГРП \ЗБГС')
sotired1 = pd.concat([sotired, r], 1)
#перемещаем столбцы в нужном порядке
q = sotired1.pop('ГС/ННС')
sotired2 = pd.concat([sotired1, q], 1)
#перемещаем столбцы в нужном порядке
z = sotired2.pop('Тип ГТМ')
sotired3 = pd.concat([sotired2, z], 1)
#перемещаем столбцы в нужном порядке
d = sotired3.pop('Пласт')
sotired4 = pd.concat([sotired3, d], 1)
i=sotired4['Номер скважины'].tolist()
sotired4['Скважина №']=i
sotired4=sotired4.drop(['Номер скважины'],axis=1)
sotired_final = sotired4.reindex(columns=['Скважина №', 'Длиина ГС, м', 'Число стадий ГРП','Полудлина трещины, м','Ширина трещины, мм','Проницаемость проппанта, Д','Дата ВНР после ГС \ ГРП \ЗБГС','ГС/ННС','Тип ГТМ','Пласт'])
sotired_final
sotired_final.loc[sotired_final['Скважина №'] == '1183']

C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only

C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  if __name__ == '__main__':
C:\Users\USER\miniconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  if sys.path[0] == '':

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
31,1183,363.207929,7,100,4,100,1993-06-01,ГС+ГРП,ГРП,Ю1
32,1183,363.207929,7,100,4,100,2007-11-25,ГС+ГРП,ГРП,Ю1
33,1183,363.207929,7,100,4,100,2017-09-04,ГС+ГРП,ГРП,Ю1

In [34]:
sotired_final['Число стадий ГРП'] = sotired.apply(
    lambda x: 
    0 if str(x['Тип ГТМ'])=='ВНС'
    else x['Число стадий ГРП'], axis=1)
sotired_final.loc[sotired_final['Скважина №'] == '1183']

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
31,1183,363.207929,7,100,4,100,1993-06-01,ГС+ГРП,ГРП,Ю1
32,1183,363.207929,7,100,4,100,2007-11-25,ГС+ГРП,ГРП,Ю1
33,1183,363.207929,7,100,4,100,2017-09-04,ГС+ГРП,ГРП,Ю1

In [35]:
n=1
z=sotired_final['Пласт'].value_counts()[:n].index.tolist()
plast=str(z[0])
sotired_final = sotired_final.drop(sotired_final[sotired_final['Пласт'] != plast].index).reset_index(drop=True)
zzz = sotired_final['Длиина ГС, м'].tolist()
sotired_final['Длина ГС, м'] = zzz

sotired_final = sotired_final.drop(['Длиина ГС, м'], axis=1)
sotired_final = sotired_final.reindex(
columns=['Скважина №', 'Длина ГС, м', 'Число стадий ГРП', 'Полудлина трещины, м', 'Ширина трещины, мм',
                     'Проницаемость проппанта, Д', 'Дата ВНР после ГС \ ГРП \ЗБГС', 'ГС/ННС', 'Тип ГТМ', 'Пласт'])

sotired_final

,Скважина №,"Длина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт
0,1028,369.891876,6,100,4,100,2019-04-05,ГС+ГРП,ГРП,Ю1
1,1060,614.642172,0,100,4,100,2017-05-08,ГС,ВНС,Ю1
2,1060,614.642172,7,100,4,100,2017-05-17,ГС+ГРП,ГРП,Ю1
3,1138,0.000000,1,100,4,100,2001-12-30,ННС+ГРП,ГРП,Ю1
4,1138,0.000000,1,100,4,100,2006-05-02,ННС+ГРП,ГРП,Ю1
...,...,...,...,...,...,...,...,...,...,...
199,5358,651.659420,0,100,4,100,2015-06-10,ГС,ВНС,Ю1
200,5358,651.659420,6,100,4,100,2015-06-20,ГС+ГРП,ГРП,Ю1
201,822,478.806850,0,100,4,100,2014-03-14,ГС,ВНС,Ю1
202,824,636.387461,0,100,4,100,2015-03-18,ГС,ВНС,Ю1
203,824,636.387461,6,100,4,100,2015-03-31,ГС+ГРП,ГРП,Ю1

In [36]:
#корректное число стадий грп согласно фраклисту
sotired_final['Дата ВНР после ГС \ ГРП \ЗБГС'] = sotired_final.apply(
    lambda x: 
    str(x['Дата ВНР после ГС \ ГРП \ЗБГС']), axis=1)
sotired_final['месяц с грп'] = sotired_final.apply(
    lambda x: 
     x['Дата ВНР после ГС \ ГРП \ЗБГС'][:4],
    axis=1
)
sotired_final

,Скважина №,"Длина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \ ГРП \ЗБГС,ГС/ННС,Тип ГТМ,Пласт,месяц с грп
0,1028,369.891876,6,100,4,100,2019-04-05 00:00:00,ГС+ГРП,ГРП,Ю1,2019
1,1060,614.642172,0,100,4,100,2017-05-08 00:00:00,ГС,ВНС,Ю1,2017
2,1060,614.642172,7,100,4,100,2017-05-17 00:00:00,ГС+ГРП,ГРП,Ю1,2017
3,1138,0.000000,1,100,4,100,2001-12-30 00:00:00,ННС+ГРП,ГРП,Ю1,2001
4,1138,0.000000,1,100,4,100,2006-05-02 00:00:00,ННС+ГРП,ГРП,Ю1,2006
...,...,...,...,...,...,...,...,...,...,...,...
199,5358,651.659420,0,100,4,100,2015-06-10 00:00:00,ГС,ВНС,Ю1,2015
200,5358,651.659420,6,100,4,100,2015-06-20 00:00:00,ГС+ГРП,ГРП,Ю1,2015
201,822,478.806850,0,100,4,100,2014-03-14 00:00:00,ГС,ВНС,Ю1,2014
202,824,636.387461,0,100,4,100,2015-03-18 00:00:00,ГС,ВНС,Ю1,2015
203,824,636.387461,6,100,4,100,2015-03-31 00:00:00,ГС+ГРП,ГРП,Ю1,2015

In [37]:
sotired_final.to_excel('first_merge.xlsx')

In [38]:
grp_number = copy.deepcopy(grp_dad)
grp_number.reset_index(drop=True)
grp_number.reset_index(inplace=True)

#grp=grp.drop(['Unnamed: 0','Подрядчик','Комментарии','Страница','Unnamed: 6','Азимут'],axis=1)
#grp=grp.drop(['V гель','V без под','V под','М бр','Гель','Конц','Расход','Эфф','Рпл Хорнер','Проппант','k','Ноб','Нэф','Верх','Низ'],axis=1)
#grp=grp.drop(['Xf','Hf','Wf','PIdsg','Скин-фактор','JD','FCD','М пр','Покр','План'],axis=1)
grp_number['Номер скважины'] = grp_number.apply(
    lambda x: 
    str(x['Номер скважины']), axis=1)
grp_number

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Проппант,Рпл Хорнер,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель
0,974,Проблемы при построении ГРП,2018-07-28,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,20/40 For+16/20 Bor,56.0,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN
1,974,Проблемы при построении ГРП,2012-06-15,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,NaN,220.0,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN
2,974,NaN,2007-01-06,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,NaN,315.0,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN
3,827,Проблемы при построении ГРП,2019-05-13,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,20/40 For,27.0,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0
4,827,Проблемы при построении ГРП,2015-05-31,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,20/40 БКО +16/20 БКО,NaN,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,20/40Carbo+16/20Carbo,NaN,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN
558,101,Проблемы при построении ГРП,2015-04-20,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,20/40Carbo+16/20Carbo,NaN,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN
559,101,Проблемы при построении ГРП,2006-02-06,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,NaN,152.0,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN
560,1003,Проблемы при построении ГРП,2017-06-26,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,20/40 Bor+16/30 Nika+12/18 Nika 12/18 Fo,46.6,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN
561,1003,Проблемы при построении ГРП,2008-05-31,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,NaN,227.0,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN

In [39]:
grp_number['Дата'] = grp_number.apply(
    lambda x: 
    str(x['Дата']), axis=1)
grp_number['месяц с грп'] = grp_number.apply(
    lambda x: 
     x['Дата'][:4],
    axis=1
)
grp_number

,Номер скважины,Unnamed: 0,Дата,Подрядчик,Комментарии,Страница,Unnamed: 6,Пласт,Наклон,Азимут,...,Рпл Хорнер,Эфф,Расход,Конц,Гель,М бр,V под,V без под,V гель,месяц с грп
0,974,Проблемы при построении ГРП,2018-07-28 00:00:00,МКМ,ГРП по плану 100т(+).Выполнена стадия Замещени...,-1_,NaN,Б19-22,3.00,104.0,...,56.0,65.0,3.4,NaN,NaN,51.70,50.0,417.1,NaN,2018
1,974,Проблемы при построении ГРП,2012-06-15 00:00:00,МКН,По миниГРП : принято решение уменьшить буфер ...,-1_,NaN,Ю1,4.25,102.0,...,220.0,70.0,3.4,1200.0,NaN,NaN,16.0,129.4,NaN,2012
2,974,NaN,2007-01-06 00:00:00,МКН,"30.12-""стоп"" на миниГРП. По результату Мини-ГР...",-1_,NaN,Б19-22,2.00,217.0,...,315.0,69.0,NaN,1000.0,NaN,NaN,180.0,436.6,NaN,2007
3,827,Проблемы при построении ГРП,2019-05-13 00:00:00,МКМ,ГРП по плану 6т(+). Выполнена стадия Замещени...,-1_,NaN,А1(3),12.00,317.0,...,27.0,75.0,2.6,1000.0,NaN,8.41,6.0,NaN,23.0,2019
4,827,Проблемы при построении ГРП,2015-05-31 00:00:00,МекамиНефть,327,-1_,NaN,Ю1,88.70,342.2,...,NaN,75.0,3.4,900.0,NaN,70.00,9.0,74.0,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,101,Проблемы при построении ГРП,2015-04-21 00:00:00,ТВС,327,-1_,NaN,Ю1,90.00,173.0,...,NaN,80.0,3.2,900.0,NaN,25.50,16.0,97.9,NaN,2015
558,101,Проблемы при построении ГРП,2015-04-20 00:00:00,ТВС,327,-1_,NaN,Ю1,91.00,169.0,...,NaN,78.0,3.2,800.0,NaN,26.50,16.0,130.1,NaN,2015
559,101,Проблемы при построении ГРП,2006-02-06 00:00:00,МКН,По результату Мини-ГРП увеличена подушка до 30...,-1_,NaN,А2,8.20,129.0,...,152.0,40.0,NaN,850.0,NaN,NaN,30.0,130.5,NaN,2006
560,1003,Проблемы при построении ГРП,2017-06-26 00:00:00,МКМ,"ГРП по плану (+), После проведения и анализа ...",-1_,NaN,Б19-22,2.00,330.0,...,46.6,77.0,3.6,1300.0,NaN,42.00,100.0,279.2,NaN,2017
561,1003,Проблемы при построении ГРП,2008-05-31 00:00:00,МКН,Увеличили подушку до 9м3 (план 7м3),-1_,NaN,А1(3),1.65,292.0,...,227.0,43.0,NaN,800.0,NaN,NaN,9.0,69.8,NaN,2008

In [40]:
grp_number_group = grp_number.groupby(by=['Номер скважины','месяц с грп']).agg(
    {'Наклон': lambda x: 
     x.tolist()}
)
grp_number_group.head(30)

                                                                Наклон
Номер скважины месяц с грп
1003           2008                                             [1.65]
               2017                                              [2.0]
101            2006                                              [8.2]
               2015                                 [90.0, 90.0, 91.0]
               2016                                              [9.0]
1022Л          2017                                             [0.25]
1028           2019              [24.0, 24.0, 24.0, 24.0, 24.0, 84.69]
1060           2017         [89.0, 90.0, 92.0, 91.0, 93.0, 91.0, 92.0]
1119           2012                                              [nan]
1138           2006                                             [2.15]
1150           2013                                              [6.4]
1157           2004                                              [nan]
               2007                                            [31.15]
1159           2007                                              [2.8]
1165           2003                                         [nan, nan]
               2006                                              [nan]
               2010                                              [nan]
1180           2018               [84.0, 90.0, 89.0, 88.0, 87.0, 87.0]
1182           2017                       [90.29, 90.29, 90.29, 90.29]
               2018                                            [58.31]
1183           2007                                              [6.3]
               2009                                             [5.84]
               2017                     [89.9, 89.9, 89.9, 89.9, 89.9]
1185           2003                                              [nan]
               2007                                              [0.3]
               2018                     [81.3, 81.3, 81.3, 81.3, 81.3]
1189           2007                                             [5.15]
               2009                                             [5.25]
               2013                                 [90.0, 90.0, 90.0]
               2014                                             [54.0]

In [41]:
grp_number_group.reset_index(inplace=True)
grp_number_group

    Номер скважины месяц с грп                    Наклон
0             1003        2008                    [1.65]
1             1003        2017                     [2.0]
2              101        2006                     [8.2]
3              101        2015        [90.0, 90.0, 91.0]
4              101        2016                     [9.0]
..             ...         ...                       ...
242            827        2015  [88.7, 88.7, 87.9, 88.4]
243            827        2019                    [12.0]
244            974        2007                     [2.0]
245            974        2012                    [4.25]
246            974        2018                     [3.0]

[247 rows x 3 columns]

In [42]:
grp_number_group['число стадий'] = grp_number_group.apply(
    lambda x: 
    len(x['Наклон']), axis=1)
grp_number_group

    Номер скважины месяц с грп                    Наклон  число стадий
0             1003        2008                    [1.65]             1
1             1003        2017                     [2.0]             1
2              101        2006                     [8.2]             1
3              101        2015        [90.0, 90.0, 91.0]             3
4              101        2016                     [9.0]             1
..             ...         ...                       ...           ...
242            827        2015  [88.7, 88.7, 87.9, 88.4]             4
243            827        2019                    [12.0]             1
244            974        2007                     [2.0]             1
245            974        2012                    [4.25]             1
246            974        2018                     [3.0]             1

[247 rows x 4 columns]

In [43]:
grp_number_group = grp_number_group.drop('Наклон', axis=1)
blabla=grp_number_group['Номер скважины'].tolist()

grp_number_group['Скважина №']=blabla
grp_number_group=grp_number_group.drop(['Номер скважины'],axis=1)
grp_number_group

    месяц с грп  число стадий Скважина №
0          2008             1       1003
1          2017             1       1003
2          2006             1        101
3          2015             3        101
4          2016             1        101
..          ...           ...        ...
242        2015             4        827
243        2019             1        827
244        2007             1        974
245        2012             1        974
246        2018             1        974

[247 rows x 3 columns]

In [44]:
grp_number_group.to_excel('second_merge.xlsx')